.index {
  background-color: var(--main-color);
  padding: 5%;

  main {
    margin: 0vh auto;
    padding: 0 1rem;
    min-height: calc(120vh);
    width: min(100%, 45rem);
  }

  section {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .control {
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
      color: black;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .yakgwan {
      font-size: 1.5rem;
      font-weight: bold
    }

    em {
      // text-decoration: line-through;
      font-weight: bold;
    }

    button {
      background-color: var(--color-light);
    }

    .fakeclick {
      font-weight: bold;
    }
    
    .fakeclick:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .red {
      color: red;
    }

    img {
      width: 25%;
    }
  }
}
