.index {
  background-color: var(--main-color);
  padding: 2rem 0;

  main {
    height: 100%;
    width: min(100%, 45rem);
  }

  section {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;

    img {
      width: 25%;
    }

    h1 {
      span {
        font-family: "Playfair Display";
        font-weight: bold;
        font-style: italic;
        font-size: 2rem;
      }

      font-size: 2rem;
      margin: 0;
    }

    .yakgwan {
      font-size: 1.5rem;
      font-weight: bold;
    }

    em {
      // text-decoration: line-through;
      font-weight: bold;
    }

    .control {
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
      color: black;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    button {
      background-color: var(--color-light);
    }

    .fakeclick {
      font-weight: bold;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .red {
      color: red;
    }
  }
}
