.index {
  background-color: var(--main-color);
  padding: 2rem;

  main {
    margin: 2rem auto;
    padding: 0 1rem;
    min-height: calc(100vh - 8rem);
    width: min(100%, 45rem);
  }

  section {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }

    .yakgwan {
      font-size: 1.5rem;
      font-weight: bold;
    }

    em {
      // text-decoration: line-through;
      font-weight: bold;
    }

    .control {
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
      color: black;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    button {
      background-color: var(--color-light);
    }

    .fakeclick {
      font-weight: bold;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .red {
      color: red;
    }

    img {
      width: 25%;
    }
  }
}
