section {
  position: relative;
  padding: 0 20%;
  user-select: none;

  .header {
    h2 {}
    input {}
    .description {}
  }

  .nameTable {
    position: relative;
    width: 100%;
    span {
      position: absolute;
      animation: fall 1s ease-in forwards;
      font-size: 30px;
    }
  }

  .line {
    position: fixed;
  }

  .basket {
    position: fixed;
    width: 120px;
    height: 90px;
    bottom: 80px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    button {
      position: absolute;
      width: 80%;
      height: 20%;
      left: 50%;
      opacity: 70%;
    }

    .button1 {
      top: 35%;
      transform: translate(-50%, 50%);
    }

    .button2 {
      bottom: 30%;
      transform: translate(-50%, 100%);
      color: red;
    }
  }
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  10% {
    opacity: 1;
    transform: translateY(-10px);
  }

  90% {
    opacity: 1;
    transform: translateY(400px);
  }

  100% {
    opacity: 0;
    transform: translateY(400px);
  }
}
