section {
  position: relative;

  .nameTable {

  }

  .line {

  }

  .basket {
    position: absolute;

    button {
      position: absolute;

      .button1 {
        left: 0;
        top: 10px;
        z-index: 10;
      }

      .button2 {
        right: 0;
      }
    }
  }
}